---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Ready to Elevate Your Lead Generation?
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Don't settle for basic contact forms. Experience the difference of an AI-first approach that qualifies leads on autopilot.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Get Started Today</Link>
  </div>
</div>
