---
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Intelligent Lead Qualification",
    description: "Our AI bot asks targeted questions and provides preliminary insights, helping to separate casual browsers from serious prospects—all before a human ever needs to step in.",
    icon: "bx:bxs-brain",
  },
  {
    title: "Value-First Engagement",
    description: "Visitors get automated, first-level solutions to their challenges, showcasing your expertise and building trust instantly.",
    icon: "bx:bxs-badge-check",
  },
  {
    title: "Built for Upsells",
    description: "Once the AI confirms a visitor's need for in-depth help, it naturally transitions them to your paid services. Think of it as a warm handshake with your future clients.",
    icon: "bx:bxs-up-arrow-circle",
  },
  {
    title: "Seamless Customization",
    description: "Easily tailor each AI funnel to match your brand and target specific customer pain points, making the experience truly your own.",
    icon: "bx:bxs-palette",
  }
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Why Choose Our Platform?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Transform your lead generation process with AI-powered automation.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
