---
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Immediate Value",
    description: "Show potential customers your expertise right from the start. They get something valuable for free, increasing trust and engagement.",
    icon: "bx:bxs-badge-check",
  },
  {
    title: "Intelligent Upsell",
    description: "Once your AI builds credibility, users are far more likely to purchase human-led services for deeper or more complex needs.",
    icon: "bx:bxs-up-arrow-circle",
  },
  {
    title: "Optimized Sales Cycle",
    description: "Spend more time with high-intent leads and less time chasing casual inquirers. Our platform helps you spot the difference within minutes.",
    icon: "bx:bxs-brain",
  },
  {
    title: "Data-Driven Insights",
    description: "As the AI interacts with visitors, it collects vital information about their challenges, letting you customize your outreach for a more personalized experience.",
    icon: "bx:bxs-data",
  }
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    The Power of 'Fremium' in Lead Qualification
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Transform your lead generation with intelligent automation that delivers value from the first interaction.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
